<a href="https://colab.research.google.com/github/vs-tries-to-code/personal-skullbreakers/blob/main/personal_skullbreakers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Brute Force Approach**

1. Subset sum

In [ ]:
l=eval(input("Enter list:"))
n=len(l)
max_sum=0
for i in range(1<<n):
  subset=[]
  for j in range(n):
    if (i&(1<<j))!=0:
      subset.append(l[j])
  print(subset)
  s=sum(subset)
  if s>max_sum:
    max_sum=s
print("Maximum sum of subset: ", max_sum)

Enter list:[1,2,3,4]
[]
[1]
[2]
[1, 2]
[3]
[1, 3]
[2, 3]
[1, 2, 3]
[4]
[1, 4]
[2, 4]
[1, 2, 4]
[3, 4]
[1, 3, 4]
[2, 3, 4]
[1, 2, 3, 4]
Maximum sum of subset:  10

2. Knapsack

3. Largest element

In [ ]:
l=eval(input("Enter list: "))
largest=l[0]
for i in l:
  if i>largest:
    largest=i
print("Largest element is: ", largest)

4. Contiguous subarray with maximum sum

In [ ]:
l=eval(input("Enter array: "))
max_sum=0
for i in range(len(l)):
  sub=[]
  for j in range(i, len(l)):
    sub.append(l[j])
  s=sum(sub)
  if s>max_sum:
    max_sum=s
print("Maximum sum of elements in contiguous sub arrays: ", max_sum)

Enter array: [1,2,3,4,5]
[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[3, 4, 5]
[4, 5]
[5]
Maximum sum of elements in contiguous sub arrays:  15

5. Generate all permutations of a string, recursively

---

In [ ]:
def permute(s, left, right):
  if left==right:
    return (s)
  else:
    for i in range(left, right+1):
      l=list(s)
      l[left],l[i]=l[i],l[left]
      return permute("".join(s), left+1, right)

s=input("Enter string: ")
print(permute(s,0,len(s)-1))

Enter string: ABC
ABC

6. Finding all pairs of elements that add up to a specific target

In [ ]:
l=eval(input("Enter list: "))
n=len(l)
target=int(input("Enter target sum: "))
sub=[]
for i in range(len(l)):
  for j in range(i+1, len(l)):
    sub.append((l[i],l[j]))
print(sub)
flag=0
for k in sub:
  if sum(k)==target:
    print(k, " gives target sum")
    flag=1
    break
if flag==0:
  print("Target sum not possible for elements in given list")

Enter list: [1,2,3,4]
Enter target sum: 9
[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]
Target sum not possible for elements in given list

7. Finding longest common substring

In [ ]:
s1=input("Enter first string: ")
s2=input("Enter second string: ")
n1=len(s1)
n2=len(s2)

8. Finding mode of a list

In [ ]:
l=eval(input("Enter a list: "))
max_count=0
for i in range(len(l)):
  count=0
  for j in range(i, len(l)):
    if l[i]==l[j]:
      count+=1
  if count>max_count:
    max_count=count
    mode=l[i]
print("Mode of list: ", mode)
print("Frequency of mode: ", max_count)

Enter a list: [1,2,3,4,5,4,3,4]
Mode of list:  4
Frequency of mode:  3

9. Finding unique triplets in a list that add upto zero

In [ ]:
l=eval(input("Enter list:"))
triplets=[]
for i in range(len(l)):
  for j in range(i+1, len(l)):
    for k in range(j+1, len(l)):
      if l[i]+l[j]+l[k]==0:
        triplets.append((l[i],l[j],l[k]))
print(triplets)

Enter list:[1,2,0,-2,-1]
[(1, 0, -1), (2, 0, -2)]

10. Longest palindromic substring in a given string

In [ ]:
str=input("Enter string:")
for i in range(len(str.lower())):
  for j in range(i+1, len(str.lower())):
    sub=str.lower()[i:j+1]
  if sub==sub[::-1]:
    print(sub)

Enter string:PythoninMalayalam
malayalam

11. All possible sums from subsets of an array

In [ ]:
arr=eval(input("Enter array:"))
n=len(arr)
for i in range(1<<n):
  sub=[]
  for j in range(i&(1<<j))!=0:
    sub.append(l[j])
  print(sub, ":", sum(sub))

# **Divide and Conquer**

1. Count inversions of an array

In [ ]:
def count_inversion():

2. Find k-th largest element in an unsorted array

3. Find majority element in an array

4. Find maximum value in a submatrix of 2D

5. Longest common prefix of an array

6. Find missing number in an array

7. Element that occurs most frequently

8. Find closest pair of points

9. Maximum sum of elements in an array

10. Duplicate elements in array

11. Contiguous sub array with max product

12. Most common substring of a specified length

# **Dynamic Programming**

1. Climbing stars having n steps

In [ ]:
n=int(input("Enter number of steps in stairs: "))
dp=(n+1)*[0]
dp[0]=0
dp[1]=1
dp[2]=2
for i in range(3,n+1):
  dp[i]=dp[i-1]+dp[i-2]
ways=dp[n]
print("Number of ways to climb stairs: ", ways)

2.Minimum number of coins required for target value

In [ ]:
coins=[1,2,5,10]
print("Coin values [1,2,5,10]")
target=int(input("Enter target value: "))
dp=[0]*(target+1)
for amount in range(1,target+1):
  dp[amount]=target+1 #Set it to a value greater than all possible values
  for coin in coins:
    if amount-coin >=0:
      dp[amount]=min(dp[amount], dp[amount-coin]+1)
print("Minimum coins required :", dp[target])

Coin values [1,2,5,10]
Enter target value: 20
Minimum coins required : 2

3. Longest subsequence common to two string

In [ ]:
dp=[]
str1=input("Enter first string: ")
str2=input("Enter second string: ")
ss=""
for i in str1:
  for j in str2:
    if i==j:
      ss+=i
      dp.append(ss)
print(dp[-1])

Enter first string: ABCBDAB
Enter second string: BDCAB
ABBCBBDABB

4. Minimum number of operation to convert one string to another.

Distinct ways to travel from top-left to bottom right of a grid.

In [ ]:
n=int(input("Enter number of rows for square grid"))
grid=[]
for row in range(n):
  grid+=[[0]*n]
print(grid)
for i in range(n):
  for j in range(n):
    if i==0 or j==0:
      grid[i][j]=1
    else:
      grid[i][j]=grid[i][j-1]+grid[i-1][j]
print(grid)
print(grid[n-1][n-1])

Enter number of rows for square grid3
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[1, 1, 1], [1, 2, 3], [1, 3, 6]]
6

In [ ]:
m=int(input("Enter number of rows: "))
n=int(input("Enter number of columns: "))
grid=[]
for row in range(m):
  grid+=[[0]*n]
print(grid)
for i in range(m):
  for j in range(n):
    if i==0 or j==0:
      grid[i][j]=1
    else:
      grid[i][j]=grid[i][j-1]+grid[i-1][j]
print(grid)
print(grid[m-1][n-1])

Enter number of rows: 3
Enter number of columns: 4
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[1, 1, 1, 1], [1, 2, 3, 4], [1, 3, 6, 10]]
10

Flipping a coin

In [ ]:
import random
def toss_coin():
  toss=random.randint(1,2)
  if toss==1:
    print("head")
  elif toss==2:
    print("tail")
toss_coin()

Rolling a die

In [ ]:
import random
def roll_die():
  roll=random.randint(1,6)
  print(roll)
print(roll_die())

Random 1D walk